body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.spacer {
  height: 2000px;
}

h1 {
  font-size: 150px;
}

h2 {
  font-size: 50px;
}

.body {
  width: 1800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 800px); */
}

.header-text {
  padding-left: 80px;
  padding-top: 220px;
  /* grid-column: col / span 2; */
  grid-column-start: 1;
  grid-column-end: 7;
  position: relative;
}

.header-photo {
  /* grid-column: col 3 / span 2; */
  grid-column-start: 7;
  grid-column-end: 13;
}

.header-gradient {
  position: absolute;
  top: 300px;
  right: 0;
  width: 100%;
  height: 400px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 8%,
    rgba(255, 255, 255, 1) 100%
  );
  animation-duration: 3s;
}

.photo {
  position: absolute;
  top: 200px;
  right: 400px;
  z-index: 3;
  animation-duration: 3s;
}

.background {
  z-index: 2;
  position: absolute;
  top: 100px;
  right: 150px;
  animation-duration: 3s;
}

.description {
  /* grid-column: col 1 / span 4; */
  grid-column-start: 1;
  grid-column-end: 13;
}

.hexagon {
  position: relative;
  width: 400px;
  height: 230.94px;
  background-color: #6085a5;
  margin: 115.47px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 115.47px solid #6085a5;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 115.47px solid #6085a5;
}

.hexagonPhoto {
  position: relative;
  width: 500px;
  height: 288.68px;
  margin: 144.34px 0;
  background: url(./Photos/NewProfile.jpg);
  background-size: auto 577.3503px;
  background-position: center;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.55);
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 353.55px;
  height: 353.55px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 73.22px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.55);
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 500px;
  height: 288.6751345948129px;
  -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-144.3376px);
  -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-144.3376px);
  transform: rotate(45deg) scaleY(1.7321) translateY(-144.3376px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -176.7767px;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -176.7767px;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagonPhoto:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 500px;
  height: 288.6751px;
  z-index: 2;
  background: inherit;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-800px);
  }
  50% {
    opacity: 0;
    transform: translateY(-800px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate(600px, -800px);
  }
  50% {
    opacity: 0;
    transform: translate(600px, -800px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes gradientScroll {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.gradientScroll {
  animation-name: gradientScroll;
  animation-fill-mode: forwards;
}
